/* setting */
:root {
  --white: #ffffff;
  --yellow: #fee567;
  --deepyellow: #ffce2b;
  --fou: #fff1b3;
  --brown: rgb(108, 17, 17);
  --pink: rgb(246, 119, 140);
  --lightgray: rgb(184, 184, 184);
  --darkgray: rgb(60, 60, 60);
  --gray: rgb(78, 78, 78);
}

/* Heumuri 흐물이 */
.heumuri .body {
  background-color: var(--white);
  border: 3px solid var(--lightgray);
}

/*
  원래는 body를 네 개의 div를 이용해 표현했으나
  README의 개선해야 할 점 부분때문에 결국
  하나의 div로만 몸통을 표현하기로 했습니다.
*/
/* .heumuri .body * {
  background-color: var(--white);
} */
/* .heumuri .body .left {
  border-left: 3px solid var(--lightgray);
}
.heumuri .body .right {
  border-right: 3px solid var(--lightgray);
}
.heumuri .body .upper {
  border-top: 3px solid var(--lightgray);
}
.heumuri .body .downner {
  border-bottom: 3px solid var(--lightgray);
} 
.heumuri .body .upper.left {
  border-radius: 100% 0 0 0;
}
.heumuri .body .upper.right {
  border-radius: 0 100% 0 0;
}
.heumuri .body .downner.left {
  border-radius: 0 0 0 100%;
}
.heumuri .body .downner.right {
  border-radius: 0 0 100% 0;
} */

.face {
  overflow: hidden;
  border-radius: 50% 70% 50% 60%;
  background-color: var(--yellow);
}
.face::after {
  border-radius: 50%;
  border-right: 27px solid var(--deepyellow);
  border-bottom: 27px solid var(--deepyellow);
}

.eyes {
  border-radius: 50%;
  background-color: var(--brown);
}

.eye-brows {
  overflow: hidden;
  border-radius: 50%;
}
.eye-brows::after {
  outline: 10px solid var(--brown);
  border-radius: 50%;
}

.eyes-closed {
  opacity: 0;
}
.eyes-closed .eyes-closed-line {
  background-color: var(--brown);
  border-radius: 3px;
}

.mouth {
  border-radius: 50%;
  background-color: var(--pink);
}
.mouth::after {
  border-radius: 50% 50% 0 0;
  background-color: var(--yellow);
}

/* Pen 후라이펜 */
.pen {
  opacity: 0;
  border-radius: 50%;
  border: 20px solid var(--gray);
  background-color: var(--darkgray);
}

.pen .handle {
  background-color: var(--gray);
}
.pen .handle::after {
  border-radius: 10px;
  background-color: var(--brown);
}
